.form{
    border: 1px solid black;
    display: flex;
   margin-top: 15%;
   margin-left: 15%;
   margin-right: 50%;
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 5%;
   padding-bottom: 5%;
   align-self: center;
   border-radius: 2%;
}
#submit1{
    background-color: aqua;
    border-radius: 10%;
    margin-top: 10px;
}